<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Blog index</title>
    </head>
    <body>
        <h1>Hello from blog page</h1>
        <div class="wrapper">
            <div class="card">
                <h2>Blog title</h2>
                <p>KLklsdjflksdf lkjsdflk jsdk jkldsjf lkdsjlkf jdlskf jkldsjfl kdsjkf jldksjf kldsjkfl jdskl fjklds jfklds jfklds</p>
            </div>
            <div class="card">
                <h2>Second blog title</h2>
                <p>LKlksdfj lkdjsflk jdklsf jkdsfjk dlsjkf jlksdjf lkdsjlkf jsdlkf jklkdsjfl ksdjlk fjldks jflksdjfl ksdsjlkf sdjlk</p>
            </div>
        </div>
    </body>
</html>
